/* Reset base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* CONTAINER CENTRATO */
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.row {
  justify-content: center;
}

/* HEADER */
header {
  background: #255ee9;
  padding: 10px 0;
}

.header-inner {
  background: #255ee9;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header .log{
  padding: 5px 10px;
}

header .login {
  background: white;
  padding: 5px 10px;
}

header .menu a {
  text-decoration: none;
  color: white;
  padding-inline: 15px;

}

/* BANNER */
.banner {
  background: navy;
  padding: 40px 0;
}

.banner-box {
  width: 80%;
  height: 250px;
  background: violet;
  margin: 0 auto;
}

/* SECTIONS */
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.white {
  background: white;
}

.gray {
  background: #ddd;
}

.dark {
  background: #222;
}

/* BOXES */
.w60 {
  width: 60%;
}

.w40 {
  width: 40%;
}

.full {
  width: 100%;
}

.box {
  height: 300px;
}

.blue {
  background: dodgerblue;
}

.pink {
  background: pink;
}

.green {
  background: green;
}

.red {
  background: salmon;
}

/* CARDS */

.card {
  flex: 1;
  background: cyan;
  height: 200px;
  border: 1px solid rgb(65, 200, 200);
}

/* FOOTER */
footer {
  background: #222;
  padding: 15px 0;
  border-top: 1px solid grey
}

.footer-inner {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: aqua;

}

.footer-logo,
.footer-bottom {
  background: pink;
  padding: 5px 10px;
}