/* Reset base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* CONTAINER CENTRATO */
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.row {
  justify-content: center;
}

/* HEADER */
header {
  background-color: #255ee9;
  padding: 10px 0;
}

.header-inner {
  background: #255ee9;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header .log {
  padding: 5px 10px;
}

header .login {
  background: white;
  padding: 5px 10px;
  border-radius: 50px;
}

header .menu a {
  text-decoration: none;
  color: white;
  padding-inline: 15px;
}

/* BANNER */
.banner {
  background-image: url("../img/jumbo.png");
  background-size: cover;
  background-position: center;
  /* centrata */
  padding: 40px 0;

}

.banner-box {
  width: 80%;
  height: 250px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.banner-box h1 {
  text-align: center;
  color: white;
  padding: 40px;
}

.banner-box p {
  color: white;
  padding-bottom: 40px;
  max-width: 800px;
  text-align: center;

}

.banner-buttons {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;

}

.banner-buttons a {
  padding: 5px 10px;
  border-radius: 50px;
}

.banner-buttons a.btn-white {
  background-color: white;
  color: #222;

}

.banner-buttons a.btn-white:hover {
  background-color: black;
  color: white;
}

.banner-buttons a.btn-black {
  background-color: black;
  color: white;
}

.banner-buttons a.btn-black:hover {
  background-color: white;
  color: #222;
}

/* SECTIONS */
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.white {
  background: white;
}

.gray {
  background: #ddd;
}

.dark {
  background: #222;
}

/* BOXES */
.w60 {
  width: 60%;
}

.w40 {
  width: 40%;
}

.full {
  width: 100%;
}

.box {
  justify-content: center;
}

.box h1 {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  min-width: 400px;
  font-family: 'Open Sans', sans-serif;

}

.box p {
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  min-width: 400px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.big {
  text-align: center;
  padding: 40px;
}

.btn-blue {
  display: inline-block;
  background: #7289da;
  color: white;
  padding: 10px 10px;
  border-radius: 50px;
  margin-top: 30px !important;
}

.btn-blue:hover {
  background: #807f7f;
  color: #000000;
}


.red {
  color: #ddd
}

.red p {
  text-align: justify;
  padding: 0;
  display: inline-block;
}

/* CARDS */

.card {
  flex: 1;
  color: white;
}

.card h4 {
  color: #7289da;
  padding-bottom: 10px;
}

.no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no-bullets li {
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  background: #222;
  padding: 15px 0;
  border-top: 1px solid grey
}

.footer-inner {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer-bottom {
  background: #7289da;
  padding: 5px 10px;
  border-radius: 50px;
  color: white;
}

.footer-bottom:hover {
  background: #65697a;
  padding: 5px 10px;
  border-radius: 50px;
}