/* Reset base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* CONTAINER CENTRATO */
.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
}

.row {
  justify-content: center;
}

/* HEADER */
header {
  background-color: #255ee9;
  padding: 10px 0;
}

.header-inner {
  background: #255ee9;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header .log{
  padding: 5px 10px;
}

header .login {
  background: white;
  padding: 5px 10px;
  border-radius: 50px;


}

header .menu a {
  text-decoration: none;
  color: white;
  padding-inline: 15px;

}

/* BANNER */
.banner {
  background-image:url("../img/jumbo.png")  ;
  background-size: cover;
  background-position: center;      /* centrata */
  padding: 40px 0;

}

.banner-box {
  width: 80%;
  height: 250px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.banner-box h1 {
  text-align: center;
  color: white;
  padding: 40px;
}

.banner-box p {
  color: white;
  padding-bottom: 40px;
  max-width: 800px;
  text-align: center; 

}

.banner-buttons {
  flex-direction: row;      
  justify-content: center;  
  align-items: center;      
  gap: 15px;  
          
}

.banner-buttons a {
  padding: 5px 10px;
  border-radius: 50px;
}

.banner-buttons a:hover {
  background: #807f7f;
  color: #000000;
}

.banner-buttons a.btn-white {
  background-color: white;
  color: #222;

}

.banner-buttons a.btn-black {
  background-color: black;
  color: white;
}

/* SECTIONS */
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.white {
  background: white;
}

.gray {
  background: #ddd;
}

.dark {
  background: #222;
}

/* BOXES */
.w60 {
  width: 60%;
}

.w40 {
  width: 40%;
}

.full {
  width: 100%;
}

.box {
justify-content: center;  
}

.box h1{
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  min-width: 400px;
  font-family: 'Open Sans', sans-serif;

}

.box p{
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
  min-width: 400px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;       /* grassetto leggero per i bottoni */
  letter-spacing: 0.5px;
}

.box img {
  display: block;       /* necessario per margini automatici */
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;      /* mantiene responsività */
  height: auto;
}

.big h1 {
  text-align: center;
}

.big p {
  text-align: center;
}

.red {
  background: salmon;
}

/* CARDS */

.card {
  flex: 1;
  background: cyan;
  height: 200px;
  border: 1px solid rgb(65, 200, 200);
}

/* FOOTER */
footer {
  background: #222;
  padding: 15px 0;
  border-top: 1px solid grey
}

.footer-inner {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: aqua;

}

.footer-logo,
.footer-bottom {
  background: pink;
  padding: 5px 10px;
}